body
{
    background-color: ivory;
}
#personal-myself
{
    text-align: center;
    font-family: helvetica serif;
}
#personal-image
{
    height: auto;
    width: 400px;
    position: absolute;
    top: 80px;
    left: 280px;
}
#self_bio
{
    position: absolute;
    bottom: 200px;
    padding: 10px;
    font-family: helvetica serif;
    color: black;
}
#construction
{
    font-size: 30px;
    padding-left: 10px;
    font-family: helvetica serif;
}